
<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          Seleccione una opcion para continuar
        </ion-label>
      </ion-list-header>
      <br>
      <br>
      <ion-item>
        <ion-label>Necesito Transporte</ion-label>
        <ion-radio routerLink="/tabs/mapa" value="Pasajero"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Puedo llevar a alguien</ion-label>
        <ion-radio routerLink="/vehiculos" value="vehiculo"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <br>
  <!--<ion-button routerLink="/tabs/mapa" expand="block" class="iniciar">Guardar</ion-button>-->
</ion-content>